.container {
    display: flex;

    width: 100%;
    margin: 0 auto;
    max-Width: 97%;
    margin-top: 1rem;
    gap: 1rem;
}

.left__info {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product_info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    position: relative;
    gap: 1rem;
}

.title {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.form__group {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 5px 0;
    flex-wrap: wrap;
}

.form__label {
    flex: 2;
    width: auto;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}



.form__label label span {
    color: red;
    margin-left: 5px;
}

.form__input {
    flex: 6;
    display: flex;
    align-items: center;
    width: 100%;
}

.form__input input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 14px;
    transition: all 300ms ease;

}


.form__input input::placeholder {
    color: gray;
}

.form__input {

    flex-direction: column;
}

.form__input input:focus {
    border: 1px solid rgb(247, 123, 11);
}

.form__input select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    transition: all 300ms ease;

}

.form__input select:focus {
    border: 1px solid rgb(247, 123, 11);
}

.form__input select option {
    display: none;
}

.brand__options {
    width: 100%;
    max-width: 470px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 2.5rem;
    z-index: 10;
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 5px;
}

.select_option {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: 1px solid gainsboro;
    border-radius: 5px;
    font-size: 14px;

    justify-content: space-between;
    transition: all 300ms ease;
}

.select_option:hover {
    cursor: pointer;
    border: 1px solid rgb(247, 123, 11) !important;
}



.options_drop {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    margin-top: 2.7rem;
    width: auto;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    gap: 10px;
    max-width: 480px;
    transition: all 600ms ease;
}

.hideOption {
    transition: all 600ms ease;
    display: none !important;
}

.options_drop input {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 450px;
}

.options_drop .default {
    background: rgb(247, 123, 11);
    color: white;
    border-radius: 5px;
    padding: 10px;
    max-width: 450px;

}

.options_drop .option {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 5px 10px;
}

.options_drop .option:hover {
    background: rgb(247, 123, 11);
    color: white;
    border-radius: 5px;

    cursor: pointer;
}

.brand__options span input {
    width: 95%;
    padding: 5px;
    margin: 0 auto;
}

.switch {
    width: 100%;

}


.product__images {}








.right__info {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    gap: 1rem;


}