.shipping {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
}

.title {
    display: flex;
    font-weight: 800;
}

.body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.body__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__content {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


.input__discount input {
    border: 1px gainsboro solid;
    width: 95%;
    border-radius: 5px;
    padding: 1rem 0.6rem;
    outline: none;
    font-size: 15px;
    margin: 1rem 0;

}