.shipping {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
}

.title {
    display: flex;
    font-weight: 800;
}

.body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.body__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body__content {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.input__days {
    display: flex;
    align-items: center;
}

.input__days span input {
    border: 1px gainsboro solid;
    width: 100%;
    border-radius: 5px;
    padding: 1rem 0.6rem;
    outline: none;
    font-size: 15px;
    margin: 1rem 0;
}

.days__value {
    flex: 4;
    width: inherit;

}

.days__title {
    flex: 1;
    width: 100%;
    padding: 1rem;
    background: rgb(247, 248, 250);
    color: gray;
    border: 1px solid gainsboro;

}

.input__days span {}